.checkbox-list {
  display: flex;
  align-items: stretch;

  &__item {
    overflow: hidden;

    input {
      display: none;
    }
    label {
      display: flex;
      padding: 4px 12px;
      height: 100%;
      align-items: center;
      margin-bottom: 0;
      font: {
        weight: 500;
        size: 12px;
      };
      color: #000;
      mix-blend-mode: overlay;
      cursor: pointer;
      transition: all 0.3s 0s;
    }

    &--purple {
      label {
        background-color: #b060ef;
      }

      input {
        &:checked + label {
          background-color: darken(#b060ef, 10);
        }
      }
    }
    &--red {
      label {
        background-color: #fa6a47;
      }

      input {
        &:checked + label {
          background-color: darken(#fa6a47, 10);
        }
      }
    }
    &--orange {
      label {
        background-color: #ffbe00;
      }

      input {
        &:checked + label {
          background-color: darken(#ffbe00, 10);
        }
      }
    }
    &--blue {
      label {
        background-color: #22c7b5;
      }

      input {
        &:checked + label {
          background-color: darken(#22c7b5, 10);
        }
      }
    }
    &--white {
      label {
        background-color: #fff;
      }

      input {
        &:checked + label {
          background-color: darken(#fff, 10);
        }
      }
    }

    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
    }
  }
}