.checkbox-list {
  display: flex;
  align-items: stretch;

  &__item {
    overflow: hidden;

    input {
      display: none;
    }
    label {
      display: flex;
      padding: 6px 12px;
      height: 100%;
      align-items: center;
      margin-bottom: 0;
      font: {
        weight: 500;
        size: 12px;
      };
      color: #000;
      mix-blend-mode: overlay;
      cursor: pointer;
      transition: all 0.3s 0s;
    }

    &--purple {
      label {
        background-color: #b060ef;
      }

      input {
        &:checked + label {
          color: #b060ef;
          background-color: #fff;
        }
      }
    }
    &--red {
      label {
        background-color: #fa6a47;
      }

      input {
        &:checked + label {
          color: #fa6a47;
          background-color: #fff;
        }
      }
    }
    &--yellow {
      label {
        background-color: #ffbe00;
      }

      input {
        &:checked + label {
          color: #ffbe00;
          background-color: #fff;
        }
      }
    }
    &--green {
      label {
        background-color: #22c7b5;
      }

      input {
        &:checked + label {
          color: #22c7b5;
          background-color: #fff;
        }
      }
    }
    &--white {
      label {
        border-left: 1px solid #f8f8f8;
        background-color: #fff;
      }

      input {
        &:checked + label {
          background-color: darken(#fff, 5);
        }
      }
    }

    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
    }
  }
}