.deals-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    display: inline-flex;
    font: {
      size: 18px;
      weight: 600;
    };
    color: #242232;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &--purple {
      color: $color-purple;
    }
    &--yellow {
      color: $color-yellow;
    }
    &--red {
      color: $color-red;
    }
    &--green {
      color: $color-green;
    }
  }
}