.main-stats {
  display: flex;
  justify-content: flex-start;
  background: #fff;
  padding: 16px 32px;
  margin-bottom: 8px;
  padding-top: 160px;

  &__item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__title {
    font: {
      weight: 500;
      size: 12px;
    };
    color: #9b9b9b;
    opacity: 0.64;
    margin-bottom: 10px;
  }

  &__value {
    font: {
      weight: 500;
      size: 18px;
    };
    color: #242232;
  }
}