.orders-list {
  margin: 32px -32px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 12px 12px 32px;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    &:first-child {
      border-top: 1px solid #ddd;
    }
  }

  &__title {

    span {
      font: {
        size: 18px;
        weight: 500;
      };
      line-height: 1.33;
    }

    &-name {
      color: #4a4a4a;
    }
    &-date {
      color: #9b9b9b;
      margin-left: 16px;
    }
  }
}

button.orders-list__row:hover {
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
}